*{
    
    margin: 0px;
    left: 0%;
    top: 0%;
    bottom: 0%;
}

.container{
  
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    
}
.parallax-0 {
    background-image: url('img/pic-0.jpg ');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.game{
    float: left;
    position: relative;
   
}
.game h1{
    color: black;
    height: 40px;
    padding: 10px;
    background-color: rgb(19, 168, 179);
    margin-top: 20px;
    
}

.info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    width: 800px;
    
    text-align: center;
    padding: 50px;
    height: auto;
    font-size: 17px;
    color: aliceblue;
   
    
}

.parallax-1{
    background-image: url('img/pic-1.jpg') ;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2{
    background-image: url('img/pic-2.jpg') ;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-3{
    background-image: url('img/pic-3.jpg') ;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax{
    background-image: url('img/0.jpg') ;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .head-name {
    
    position: absolute;
    top: 150px;
    left: 280px;
    padding: 10px;
    font-size: 50px;
    width: max-content;
    margin-top: 140px;
    height: 60px;
    text-align: center;
    color: black;
    background-color: rgba(19, 168, 179, 0.877);
}
.copyright{
    width: auto;
    height: auto;
    color: white;
    background-color: rgb(34, 32, 32);
    text-align: center;
}
.info-1{
    background-color: black;
    position: relative;
    color: rgb(255, 255, 255);
    
    
    text-align: center;
    padding: 20px;
    height: auto;
    font-size: 17px;
    
}
